# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Weights & caches
*.safetensors
*.bin
*.pt
*.pth
huggingface/
.cache/
wandb/
